body
{
    font: 16px "Helvetica", "Arial", "sans-serif";
    background-color: #f28107;
    color: black;
}

table
{
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 3px solid;
}

thead th:nth-child(1), thead th:nth-child(2), thead th:nth-child(3), thead th:nth-child(4), thead th:nth-child(5) {
  width: 7%;
}

thead th:nth-child(6) {
  width: 5%;
}

thead th:nth-child(7) {
  width: 35%;
}

thead th:nth-child(8) {
  width: 12%;
}

thead th:nth-child(9) {
  width: 12%;
}
th, td {
  padding: 10px;
}

tbody tr:nth-child(odd) {
  background-color: #90EE90;
}

.noborder
{
    border: none;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}

p
{
    font-size: 20px; /* Paragraphes de 14 pixels */
}
h1
{
    font-size: 40px; /* Titres de 40 pixels */
    font-weight: bold;
    text-align: center;
}
h2, caption
{
    font-size: 30px; /* Titres de 30 pixels */
    font-weight: bold;

}

a
{
	color: black;
}

a:hover {
  border-bottom: 1px solid;
  background: #90EE90;
}
#conteneur
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* https://developer.mozilla.org/fr/docs/Learn/CSS/Building_blocks/Styling_tables */
